<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h4>Popular Hotspots</h4>
    </div>
    <div class="col-md-4">
      <!--integrating google map-->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6342301.00043755!2d35.129329549999994!3d39.0876459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b0155c964f2671%3A0x40d9dbd42a625f2a!2zVMO8cmtpeWU!5e0!3m2!1sen!2sin!4v1689248970215!5m2!1sen!2sin"
              width="400px" height="200px" style="border:0;" allowfullscreen="true"
              loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="row">
    <h4>Customer Reviews</h4>
  </div>
  <button class='btn btn-primary'>Book Package</button>
</div>
