a.nav-link, .navbar-brand, li.nav-item {
  color: white !important;
  cursor:pointer;
}

.nav-item {
  margin: 0 0.7rem;
  margin-bottom: 1rem;
}

  .nav-item:hover::after {
    width: 100%;
  }

  .nav-item::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: white;
    transition: width .3s;
  }
