<div class="container login-container" >
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()" class="mt-4">
    <label for="name">User Name</label>
    <input type="text" class="form-control" id="name"
           formControlName="userName">
    <span class="text-danger"
          *ngIf="(loginForm.controls.userName.touched) && loginForm.controls.userName.errors?.required">
      User Name is required
    </span>
    <label for="password" class="mt-1">Password</label>
    <input type="password" class="form-control" id="password"
           formControlName="password">
    <button class="btn btn-primary mt-4 mb-2" type="submit">Login</button>
    <!--using a custom pipe-->
    {{34 | tempConverter:'F'}}
  </form>
</div>
